body {
	font-family: 'Courier New', Courier, monospace;
}

.center {
	text-align: center;
}

.s1 {
	color: red;
}

.s2 {
	background: linear-gradient(45deg, blue, red);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
