.main {
	background: url('backfr/image?quality=10,../assets/screenshot.png');
}

.text {
	background-color: #000e;
	color: white;
	font-weight: bold;
	width: 300px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
